<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Settings1.Setting" connectionString="Data Source=DESKTOP-P2OGJG5;Initial Catalog=ThanyaPrueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>